{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "babelrc": false,
      "configFile": false,
      "presets": ["@babel/preset-react"]
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": "off",
    "no-shadow": "off",
    "react/no-unstable-nested-components": "off",
    "import/prefer-default-export": "off",
    "react-hooks/exhaustive-deps": "off",
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "no-nested-ternary": "off",
    "react/self-closing-comp": "off",
    "react/no-array-index-key": "off",
    "react/no-unescaped-entities": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-eslint/eslint-plugin-jsx-a11y": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "camelcase": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "no-console": "off",
    "react/state-in-constructor": "off",
    "indent": "off",
    "linebreak-style": "off",
    "react/prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 130,
        "tabWidth": 2,
        "semi": true,
        "endOfLine": "auto"
      }
    ]
  },
  "plugins": ["prettier", "react", "react-hooks", "import"]
}
